@{
    ViewData["Title"] = "Strona główna";
}

<div class="container col-12">
    <div class="row">
        <div class="col">
            <h1>E-Wholesale Project</h1>
            <h4>Project description on main page, to be continued</h4>

            @if (ViewBag.PasswordChanged != null) {
                <div class="alert alert-success alert-dismissible fade show my-3" role="alert">
                    Password changed successfully!

                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            @if (ViewBag.AddressChanged != null) {
                <div class="alert alert-success alert-dismissible fade show my-3" role="alert">
                    Address updated successfully!

                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
        </div>

        @if (ViewBag.COOKIE_LOGGED_USERNAME != null) {
            <div class="col-3 ml-3">
                <div class="row">
                    <div class="col bg-secondary mb-3">
                        <div class="container text-center alert-secondary my-3">
                            User dashboard
                        </div>

                        <form class="form-group">
                            <input type="submit" class="btn btn-block btn-dark" value="Change password" asp-controller="User" asp-action="ChangePassword" />

                            @if (ViewBag.UserGroup == 1) { // All users
                                <input type="submit" class="btn btn-block btn-dark" value="Administrators cannot delete themselves" disabled="disabled" />
                            } else {
                                <input type="submit" class="btn btn-block btn-dark" value="Delete account" asp-controller="User" asp-action="AccountDelete" />
                            }
                        </form>
                    </div>
                </div>

                @if (ViewBag.UserGroup == 1 || ViewBag.UserGroup == 2) { // Admin or Customer
                    <div class="row">
                        <div class="col bg-success mb-3">
                            <div class="container text-center alert-success mt-3 mb-2">
                                Customer dashboard

                                @if (ViewBag.MeCustomer != null) {
                                    <span>(CID @ViewBag.MeCustomer.IdCustomer)</span>
                                } else {
                                    <span><i>(null CID)</i></span>
                                }
                            </div>

                            <form class="form-group">

                                @if (ViewBag.MeCustomer != null) {
                                    <input type="submit" class="btn btn-block btn-dark" value="Shopping cart (WIP)" />
                                    <input type="submit" class="btn btn-block btn-dark" value="Change address" asp-controller="User" asp-action="ChangeAddress" />
                                } else {
                                    <input type="submit" class="btn btn-block btn-dark" value="Shopping cart (WIP)" disabled="disabled" />
                                    <input type="submit" class="btn btn-block btn-dark" value="Change address" disabled="disabled" />
                                }
                            </form>
                        </div>
                    </div>
                }

                @if (ViewBag.UserGroup == 1 || ViewBag.UserGroup == 4) { // Admin or Offerent
                    <div class="row">
                        <div class="col bg-warning mb-3">
                            <div class="container text-center alert-warning my-3">
                                Offerent dashboard
                            </div>

                            <form class="form-group">
                                <input type="submit" class="btn btn-block btn-dark" value="Manage products" asp-controller="Products" asp-action="Index" />
                                <input type="submit" class="btn btn-block btn-dark" value="Manage units" asp-controller="Units" asp-action="Index" />
                            </form>
                        </div>
                    </div>
                }

                @if (ViewBag.UserGroup == 1 || ViewBag.UserGroup == 3) { // Admin or Storekeeper
                    <div class="row">
                        <div class="col bg-warning mb-3">
                            <div class="container text-center alert-warning my-3">
                                Storekeeper dashboard
                            </div>

                            <form class="form-group">
                                <input type="submit" class="btn btn-block btn-dark" value="Manage stocks (WIP)" />
                                <input type="submit" class="btn btn-block btn-dark" value="Manage orders (WIP)" />
                            </form>
                        </div>
                    </div>
                }


                @if (ViewBag.UserGroup == 1) { // Admin
                    <div class="row">
                        <div class="col bg-danger">
                            <div class="container text-center alert-danger my-3">
                                Administration dashboard
                            </div>

                            <form class="form-group">
                                <input type="submit" class="btn btn-block btn-dark" value="Manage users & accounts" asp-controller="Admin" asp-action="UsersList" />
                                <input type="submit" class="btn btn-block btn-dark" value="Manage storehouses" asp-controller="Admin" asp-action="StorehousesList" />
                            </form>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

@section CheckUserLogged {
    @{
        await Html.RenderPartialAsync("~/Views/PartialViews/NavBarUser.cshtml");
    }
}