@{
    ViewData["Title"] = "Strona główna";
}

<div class="container col-12">
    <div class="row">
        <div class="col">
            <h1>E-Wholesale Project</h1>

            @if (ViewBag.PasswordChanged != null) {
                <div class="alert alert-success alert-dismissible fade show my-3" role="alert">
                    Password changed successfully!

                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            @if (ViewBag.AddressChanged != null) {
                <div class="alert alert-success alert-dismissible fade show my-3" role="alert">
                    Address updated successfully!

                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            @{
                await Html.RenderPartialAsync("~/Views/PartialViews/ProductList.cshtml");
            }
        </div>

        @if (Context.Request.Cookies["COOKIE_LOGGED_USERNAME"] != null) {
            <div class="col-3 ml-3">
                <div class="row">
                    <div class="col bg-secondary mb-3">
                        <div class="container text-center alert-secondary my-3">
                            User dashboard
                        </div>

                        <form class="form-group">
                            <input type="submit" class="btn btn-block btn-dark" value="Change password" asp-controller="User" asp-action="ChangePassword" />

                            @if (ViewBag.UserGroup == 1) { // All users
                                <input type="submit" class="btn btn-block btn-dark" value="Administrators cannot delete themselves" disabled="disabled" />
                            } else {
                                <input type="submit" class="btn btn-block btn-dark" value="Delete account" asp-controller="User" asp-action="AccountDelete" />
                            }
                        </form>
                    </div>
                </div>

                @if (ViewBag.UserGroup == 1 || ViewBag.UserGroup == 2) { // Admin or Customer
                    <div class="row">
                        <div class="col bg-success mb-3">
                            <div class="container text-center alert-success mt-3 mb-2">
                                Customer dashboard

                                @if (ViewBag.MeCustomer != null) {
                                    <span>(CID @ViewBag.MeCustomer.IdCustomer)</span>
                                } else {
                                    <span><i>(null CID)</i></span>
                                }
                            </div>

                            <form class="form-group">

                                @if (ViewBag.MeCustomer != null) {
                                    @if (ViewBag.Cart.Count > 0) {
                                        <input type="submit" class="btn btn-block btn-dark" value="Shopping cart (@ViewBag.Cart.Count item/s)" asp-controller="Cart" asp-action="Index" />
                                    } else {
                                        <input type="submit" class="btn btn-block btn-dark" value="Shopping cart (empty)" asp-controller="Cart" asp-action="Index" />
                                    }

                                    <input type="submit" class="btn btn-block btn-dark" value="Change address" asp-controller="User" asp-action="ChangeAddress" />
                                    <input type="submit" class="btn btn-block btn-dark" value="My orders" asp-controller="Customer" asp-action="MyOrders" />
                                } else {
                                    <input type="submit" class="btn btn-block btn-dark" value="Shopping cart" disabled="disabled" />
                                    <input type="submit" class="btn btn-block btn-dark" value="Change address" disabled="disabled" />
                                    <input type="submit" class="btn btn-block btn-dark" value="My orders" disabled="disabled" />
                                }
                            </form>
                        </div>
                    </div>
                }

                @if (ViewBag.UserGroup == 1 || ViewBag.UserGroup == 4) { // Admin or Offerent
                    <div class="row">
                        <div class="col bg-warning mb-3">
                            <div class="container text-center alert-warning my-3">
                                Offerent dashboard
                            </div>

                            <form class="form-group">
                                <input type="submit" class="btn btn-block btn-dark" value="Manage products" asp-controller="Products" asp-action="Index" />
                                <input type="submit" class="btn btn-block btn-dark" value="Manage units" asp-controller="Units" asp-action="Index" />
                            </form>
                        </div>
                    </div>
                }

                @if (ViewBag.UserGroup == 1 || ViewBag.UserGroup == 3) { // Admin or Storekeeper
                    <div class="row">
                        <div class="col bg-warning mb-3">
                            <div class="container text-center alert-warning my-3">
                                Storekeeper dashboard
                            </div>

                            <form class="form-group">
                                <input type="submit" class="btn btn-block btn-dark" value="Manage stocks" asp-controller="Stocks" asp-action="Index" />
                                <input type="submit" class="btn btn-block btn-dark" value="Manage orders" asp-controller="Storekeeper" asp-action="OrderList" />
                            </form>
                        </div>
                    </div>
                }


                @if (ViewBag.UserGroup == 1) { // Admin
                    <div class="row">
                        <div class="col bg-danger">
                            <div class="container text-center alert-danger my-3">
                                Administration dashboard
                            </div>

                            <form class="form-group">
                                <input type="submit" class="btn btn-block btn-dark" value="Manage users & accounts" asp-controller="Admin" asp-action="UsersList" />
                                <input type="submit" class="btn btn-block btn-dark" value="Manage storehouses" asp-controller="Admin" asp-action="StorehousesList" />
                            </form>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>